body {
    margin: 0;
    font-family: Arial;
    display: flex;
    background: #f4f6f9;
}

.sidebar {
    width: 220px;
    height: 200vh;
    background: #1e1e2f;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #34345a;
}

.main {
    flex: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #1e1e2f;
    color: white;
}

img {
    border-radius: 5px;
}

.thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.thumb:hover {
    transform: scale(1.1);
}


